<html lang="pt-br">

<head>
  <title>bookmak</title>
  <!--Meta Tags-->
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/checkout.css" />
</head>
<style>
  .book-cover {
    width: 100px;
    height: 150px;
    object-fit: cover;
  }
</style>

<body>
  <!--Header-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">Bookmak</a>
      </div>
    </nav>
  </header>
  <!--Conteudo-->
  <main class="container mb-5">
    <h1 class="mt-3 text-center">Confirmação e Pagamento</h1>
    <p>
      Confirme os produtos a seguir, o endereço de entrega e seus dados, no
      final coloque o cupom e o endereço de cobrança
    </p>
    <%- typeof(error) === "string" ? `
      <div class="alert alert-danger" role="alert">${error}</div>
      ` : '' %>
    <!--Lista de Produtos-->
    <%- include('../components/orderDetails/productList', { order }) %>
    <!--Dados do Cliente-->
    <%- include('../components/orderDetails/clientData', { customer:order.customer }) %>
    <!--Endereço de Envio e Cobrança-->
    <%- include('../components/orderDetails/addressData', { 
        shippingAddress: order.shippingAddress, 
        billingAddress: order.billingAddress, 
        enableEdit: true
    }) %>
    <!--<Marca Página-->
    <%- include('../components/orderDetails/bookmark', { 
        bookmarkText: order.bookmarkText,
        bookmarkStyle: order.bookmarkStyle,
        enableEdit: true,
        enablePrint: false
    }) %>
    <!--Cupom-->
    <%- include('../components/orderDetails/coupon', { order, enableEdit:true }) %>
    <!--Resumo-->
    <%- include('../components/orderDetails/summarizer', { order }) %>
    <!--Aviso de Geração Automática de Cupom de Troco-->
    <% if(order.totalPrice < 0) { %>
    <div class="alert alert-warning mt-3" role="alert">
      Identificamos uso de cupons que geraram um valor negativo, o valor
      negativo será convertido em um cupom de troco, após a confirmação do
      pagamento. Você pode prosseguir com o pagamento sem usar cartões.
    </div>
    <% } %>
    <!--Pagamento-->
    <div class="mt-3 border p-3">
      <h5>Pagamento:</h5>
      <div class="mb-3 row">
        <div class="col-4">
          <label for="card" class="form-label">Selecione o Cartão:</label>
          <select class="form-select cardSelect" id="card" name="cardId">
            <option selected>Selecione o Cartão</option>
            <% cards.forEach((card) => { %>
            <option value="<%= card.id %>">
              <%= utils.card.formatCardNumber(card.number) %> - <%= utils.card.formatCardFlag(card.flag) %>
            </option>
            <% }) %>
          </select>
        </div>
        <div class="col-4">
          <label for="card" class="form-label">Digite o valor a ser pago com esse cartão:</label>
          <input type="number" min="0.00" step="0.01" class="form-control" id="value" name="value" />
        </div>
        <button type="button" class="btn btn-primary col-4" id="addCard">Usar mais um cartão.</button>
      </div>
      <p>Cartões usados:</p>
      <ul class="usedCardsList" id="usedCardsList">
      </ul>
      <form method="POST" action="/checkout/payment" id="sendForm">
        <input type="hidden" name="cards" id="cards" value="[]" />
        <div class="d-flex gap-3">
          <button type="button" class="btn btn-outline-primary" onclick="window.location.reload()">
            Recarregar Cartões
          </button>
          <a href="/accounts/me/cards/new" target="_blank" class="btn btn-outline-primary">Adicionar Cartão</a>
          <button type="submit" class="btn btn-primary pay">Pagar</button>
        </div>
      </form>
    </div>
  </main>
  <!--Bootstrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/scripts/checkout.js"></script>
</body>

</html>