<html lang="pt-br">
  <head>
    <title>BookMark</title>
    <!--Meta Tags-->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--Header-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="/" class="navbar-brand">BookMark</a>
        </div>
      </nav>
    </header>
    <!--Conteudo-->
    <main class="container mb-5">
      <% if (id) { %>
      <h1 class="mt-3 text-center">Editar Endereço</h1>
      <% } else { %>
      <h1 class="mt-3 text-center">Novo Endereço</h1>
      <% } %>
      <% if(error) { %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %>
      <!--Formulário-->
      <form method="POST" class="row">
        <% if (id) { %>
        <p class="col-12">
          Preencha os dados abaixo para cadastrar um editar o endereço:
        </p>
        <% } else { %>
        <p class="col-12">
          Preencha os dados abaixo para cadastrar um novo endereço:
        </p>
        <% } %>
        <div class="mb-3 col-12">
          <label for="addressName" class="form-label">Nome do Endereço</label>
          <input
            type="text"
            class="form-control"
            id="addressName"
            name="addressName"
            required
            <% if (addressName) { %> 
              value="<%= addressName %>"
            <% } %>
          />
        </div>

        <div class="mb-3 col-3">
          <label for="residenceType" class="form-label"
            >Tipo de Residência</label
          >
          <select class="form-select" id="residenceType" name="residenceType" required>
            <option 
              <% if (residenceType == null) { %> 
                selected 
              <% } %> 
            >Escolha...</option>
            <option value="house"
              <% if (residenceType == "house") { %> 
                selected 
              <% } %>
            >Casa</option>
            <option value="apartment"
              <% if (residenceType == "apartment") { %> 
                selected 
              <% } %>
            >Apartamento</option>
            <!-- Adicione mais opções conforme necessário -->
          </select>
        </div>

        <div class="mb-3 col-3">
          <label for="streetType" class="form-label">Tipo de Logradouro</label>
          <select class="form-select" id="streetType" name="streetType" required>
            <option
              <% if (streetType == null) { %> 
                selected 
              <% } %>
            
            >Escolha...</option>
            <option value="street"
            
              <% if (streetType == "street") { %> 
                selected 
              <% } %>
            >Rua</option>
            <option value="avenue"
              <% if (streetType == "avenue") { %> 
                selected 
              <% } %>
            
            >Avenida</option>
            <!-- Adicione mais opções conforme necessário -->
          </select>
        </div>

        <div class="mb-3 col-6">
          <label for="street" class="form-label">Logradouro</label>
          <input 
            type="text" 
            class="form-control" 
            id="street" 
            name="street"
            <% if (street) { %> 
              value="<%= street %>"
            <% } %>
          required />
        </div>

        <div class="mb-3 col-1">
          <label for="number" class="form-label">Número</label>
          <input 
            type="text" 
            class="form-control" 
            id="number" 
            name="number" 
            <% if (number) { %> 
              value="<%= number %>"
            <% } %>
            required
          />
        </div>

        <div class="mb-3 col-4">
          <label for="district" class="form-label">Bairro</label>
          <input
            type="text"
            class="form-control"
            id="district"
            name="district"
            <% if (district) { %> 
              value="<%= district %>"
            <% } %>
            required
          />
        </div>

        <div class="mb-3 col-4">
          <label for="zip" class="form-label">CEP</label>
          <input 
            type="text" 
            class="form-control" 
            id="zip" 
            name="zip" 
            <% if (zip) { %> 
              value="<%= zip %>"
            <% } %>
            required
            />
        </div>

        <div class="mb-3 col-3">
          <label for="city" class="form-label">Cidade</label>
          <input 
            type="text" 
            class="form-control" 
            id="city" 
            name="city"
            <% if (city) { %> 
              value="<%= city %>"
            <% } %>
            required
            />
        </div>

        <div class="mb-3 col-7">
          <label for="state" class="form-label">Estado</label>
          <input 
            type="text" 
            class="form-control" 
            id="state" 
            name="state" 
            <% if (state) { %> 
              value="<%= state %>"
            <% } %>
            required
          />
        </div>

        <div class="mb-3 col-5">
          <label for="country" class="form-label">País</label>
          <input 
            type="text" 
            class="form-control" 
            id="country" 
            name="country"
            <% if (country) { %> 
              value="<%= country %>"
            <% } %>
            required
          />
        </div>

        <div class="mb-3 col-12">
          <label for="observations" class="form-label">Observações</label>
          <textarea
            class="form-control"
            id="observations"
            name="observations"
            rows="3"
          ><% if (observations) { %><%= observations %><% } %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Continuar</button>
      </form>
    </main>
    <% if(error) { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
